extends ../../layout

block content
  h3.text-center 电影添加
  br
  .container
    .row
      form.form-horizontal(method="POST" action="add" name='movieform')
        .form-group
          label.col-md-2.control-label 名字
          .col-md-8
            input(type="text" id="name" name="name").form-control
        .form-group
          label.col-md-2.control-label 类型
          .col-md-8
            input(type="text" id="type" name="type").form-control
        .form-group
          label.col-md-2.control-label 评分
          .col-md-8
            input(type="text" id="score" name="score").form-control
        .form-group
          label.col-md-2.control-label 日期
          .col-md-8
            input(type="text" id="date" name="date").form-control
        .form-group
          label.col-md-2.control-label 介绍
          .col-md-8
            input(type="text" id="intro" name="intro").form-control
        .form-group
          label.col-md-2.control-label 演员
          .col-md-8
            input(type="text" id="actor" name="actor").form-control
        .form-group
          label.col-md-2.control-label 图片
          .col-md-8
            input(type="text" id="src" name="src").form-control

        .form-group
          .col-md-1.col-md-offset-2
            button(type="submit").btn.btn-primary 提交添加
          .col-md-2
            a(href="/admin/movie").btn.btn-primary 返回
  
